.About {
  img {
    width: 660px;
  }
  &__section {
    margin-bottom: 10rem;
    // animation-delay: .2s;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__title {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    color: $color-purple-l;
    font-size: $font-header;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    svg {
      color: $color-purple-l;
      margin-right: 15px;
      font-size: 28px;
    }
  }
  &__body {
    max-width: 600px;
  }

  &__playlist-title {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 3.7rem;
    color: $color-text-primary;
  }

  &__playlist {
    width: 100%;
    max-width: 400px;
    margin: 2.7rem auto 0;
    display: flex;
    justify-content: space-between;
  }

  &__cover {
    width: 115px;
    height: 115px;
    background: $color-gray-m;
    box-shadow: 0px 3px 20px -5px rgba(0,0,0,.5);
    transition: all .3s, border-radius .6s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    svg {
      font-size: 52px;
      opacity: .2;
      transition: all .3s;
      margin-top: -30px;
    }
    p {
      position: absolute;
      color: rgba($color-text-body, .8);
      color: lighten($color-text-tertiary, 1%);
      transition: all .3s;
      text-align: center;
      bottom: 10px;
    }

    &:hover {
      background: $color-purple-m;
    }

  }
  &__reading-container {
    max-width: 300px;
    margin: 0 auto;
  }
  &__reading-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 16px;
    color: $color-text-body;
    background: $color-gray-m;
    padding: 10px 20px;
    transition: all .3s;
    border-radius: 3px;

    svg {
      margin-right: 20px;
      font-size: 26px;
      color: #686e78;
      transition: all .3s;
    }

    &:hover {
      background: #373b41;
      color: $color-text-primary;
      box-shadow: 0px 4px 30px -8px rgba(0,0,0,0.3);
      svg { color: $color-purple-l; }
    }
  }

  @include whenMedium {

  }
  @include whenLarge {

    &__title {
      font-size: $font-header-sm;
    }
    &__cover {
      width: 120px;
      height: 120px;
      svg {
        font-size: 72px;
        margin-top: 0;
      }
      p {
        top: 80px;
        opacity: 0;
        color: $color-text-primary;

      }
      &:hover {
        transform: scale(1.2);
        background: $color-purple-m;
        border-radius: 60px;
        p {
          top: 45px;
          opacity: 1;
        }
        svg {
          opacity: .05;
        }
      }
    }

    &__section {
      margin-bottom: 16rem;
      &:last-of-type {
        margin-bottom: 10rem;
      }
    }
  }

  .Home__toolbelt {
    h2 {
      text-align: center;
    }
  }
}
