.Home {
  // position: relative;
  // min-height: calc(100vh - 138px);

  &__section {
    // animation-delay: .2s;
  }

  &__title {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 33px;
    color: #dadee4;
    margin-left: -1px;
    max-width: 500px;
    line-height: 1;
    margin-bottom: 10px;
  }
  &__subtitle {
    font-family: 'Heebo', sans-serif;
    font-size: 19px;
    color: $color-text-tertiary;
    line-height: 1.4;
    &:after {
      content: '';
      display: block;
      background: #7e6d96;
      height: 5px;
      width: 60px;
      margin-top: 10px;
    }
  }
  &__body {
    margin-top: 40px;
    max-width: 600px;
  }
  &__toolbelt {
    margin-top: 40px;
  }
  &__toolbelt-title {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: $font-header-sm;
    color: $color-text-primary;
  }

}
.fire {
  width: 96px;
  height:96px;
  position: absolute;
  display: none;
  bottom: 0;
  right: 0;

  @include whenLarge { display: block; }
}
