.Privacy {

  h1, h2, h3, h4 {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    color: $color-text-primary;
  }

  h1, h2 {
    margin-top: 40px;
  }
  h3, h4 {
    margin-top: 30px;
  }
  p {
    margin-bottom: 15px;
  }
}
