@import url("https://fonts.googleapis.com/css?family=Dosis:200,400|Heebo:900,400");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%;
  font-size: 62.5%; }

body {
  height: 100%;
  font-size: 19px;
  font-size: 1.9rem;
  background-color: #1c2025;
  border-color: red;
  animation: movingGradient 20s ease infinite;
  background-size: 300% 300%;
  position: relative;
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  letter-spacing: 1px; }
  @media only screen and (min-width: 960px) {
    body {
      background-color: none;
      background-image: linear-gradient(to right top, #aa3c84, #e74c3c);
      background-repeat: no-repeat;
      background-attachment: fixed;
      margin: 0 20px;
      font-size: 18px;
      font-size: 1.8rem; } }

a {
  text-decoration: none;
  color: #aa3c84; }

li {
  list-style: none; }

@keyframes movingGradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 40% 20%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.fadeIn {
  animation: .8s fadeIn forwards;
  opacity: 0; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeInUp {
  animation: .8s fadeInUp forwards;
  position: relative;
  transform: translateY(30%);
  opacity: 0; }

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0); } }

.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  background: #1c2025;
  color: #bbc0c6; }
  .App .content-main {
    flex: 3;
    position: relative; }
  @media only screen and (min-width: 960px) {
    .App {
      border: none;
      width: 100%;
      max-width: 1200px;
      height: 660px;
      max-height: 94vh;
      flex-direction: row;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.5); } }

.modal {
  background: black;
  display: none;
  margin: 20px 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.About img {
  width: 660px; }

.About__section {
  margin-bottom: 10rem; }
  .About__section:last-of-type {
    margin-bottom: 0; }

.About__title {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  color: #9182c9;
  font-size: 2.7rem;
  margin-bottom: 15px;
  display: flex;
  align-items: center; }
  .About__title svg {
    color: #9182c9;
    margin-right: 15px;
    font-size: 28px; }

.About__body {
  max-width: 600px; }

.About__playlist-title {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 3.7rem;
  color: #dce2e9; }

.About__playlist {
  width: 100%;
  max-width: 400px;
  margin: 2.7rem auto 0;
  display: flex;
  justify-content: space-between; }

.About__cover {
  width: 115px;
  height: 115px;
  background: #272B31;
  box-shadow: 0px 3px 20px -5px rgba(0, 0, 0, 0.5);
  transition: all .3s, border-radius .6s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .About__cover svg {
    font-size: 52px;
    opacity: .2;
    transition: all .3s;
    margin-top: -30px; }
  .About__cover p {
    position: absolute;
    color: rgba(187, 192, 198, 0.8);
    color: #838b96;
    transition: all .3s;
    text-align: center;
    bottom: 10px; }
  .About__cover:hover {
    background: #4b3d7a; }

.About__reading-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 16px;
  color: #bbc0c6; }
  .About__reading-list svg {
    font-size: 26px; }

@media only screen and (min-width: 960px) {
  .About__title {
    font-size: 2.3rem; }
  .About__cover {
    width: 120px;
    height: 120px; }
    .About__cover svg {
      font-size: 72px;
      margin-top: 0; }
    .About__cover p {
      top: 80px;
      opacity: 0;
      color: #dce2e9; }
    .About__cover:hover {
      transform: scale(1.2);
      background: #4b3d7a;
      border-radius: 60px; }
      .About__cover:hover p {
        top: 45px;
        opacity: 1; }
      .About__cover:hover svg {
        opacity: .05; }
  .About__section {
    margin-bottom: 16rem; } }

.About .Home__toolbelt h2 {
  text-align: center; }

.Contact {
  display: flex;
  flex-direction: column; }
  .Contact__body {
    margin-bottom: 70px; }
  .Contact__email {
    color: rgba(231, 80, 106, 0.75);
    transition: color .3s;
    font-family: 'Heebo', sans-serif;
    display: block;
    margin-top: 10px; }
    .Contact__email:hover, .Contact__email:focus {
      color: #e7506a; }
  .Contact__form {
    flex: 4;
    animation-delay: .2s;
    animation-duration: .8s; }
    .Contact__form div {
      display: flex;
      flex-direction: column; }
    .Contact__form input,
    .Contact__form textarea,
    .Contact__form button {
      font-family: 'Dosis', sans-serif; }
    .Contact__form input,
    .Contact__form textarea {
      border: none;
      padding: 10px;
      box-shadow: 0px 3px 30px -5px rgba(0, 0, 0, 0.3);
      font-size: 19px;
      margin-bottom: 10px;
      letter-spacing: 1px;
      color: #dce2e9;
      background: #272B31; }
    .Contact__form textarea {
      resize: none;
      min-height: 160px; }
    .Contact__form label {
      font-family: 'Heebo', sans-serif;
      font-weight: 500;
      color: #808894; }
    .Contact__form button {
      box-shadow: 0px 3px 30px -5px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      padding: 15px 20px;
      margin-top: 10px;
      font-size: 16px;
      border: none;
      color: #eff3f9;
      transition: all .3s;
      width: 100%;
      background: rgba(157, 150, 184, 0.2); }
      .Contact__form button:hover {
        box-shadow: 0px 4px 20px -5px rgba(0, 0, 0, 0.5);
        background: rgba(157, 150, 184, 0.5); }
  @media only screen and (min-width: 960px) {
    .Contact {
      flex-direction: row; }
      .Contact__body {
        flex: 3;
        padding-right: 30px;
        margin-top: 20px; } }

.Home__title {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 33px;
  color: #dadee4;
  margin-left: -1px;
  max-width: 500px; }

.Home__subtitle {
  font-family: 'Heebo', sans-serif;
  font-size: 19px;
  color: #808894;
  line-height: 1.4; }

.Home__body {
  margin-top: 40px;
  max-width: 600px; }

.Home__toolbelt {
  margin-top: 40px; }

.Home__toolbelt-title {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  font-size: 2.3rem;
  color: #dce2e9; }

.Home__tools-list {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 20px auto 0; }
  .Home__tools-list ul {
    margin-right: 5px;
    flex: 1; }
  .Home__tools-list li {
    position: relative;
    margin-bottom: 5px;
    background: #272B31;
    flex: 1;
    padding: 10px 10px 10px 16px;
    border-radius: 3px; }

.fire {
  width: 96px;
  height: 96px;
  position: absolute;
  display: block;
  bottom: 0;
  right: 0; }

.page {
  animation-duration: .5s;
  overflow-y: scroll;
  overflow-x: hidden;
  background-size: cover;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .page__content {
    padding: 40px 20px 120px;
    position: relative; }
  .page__title {
    font-size: 150px;
    text-transform: uppercase;
    display: none;
    line-height: .8;
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(145, 130, 201, 0.2);
    font-family: 'Heebo', sans-serif;
    letter-spacing: -5px;
    margin-left: -7px;
    font-weight: 900; }
    .page__title:after {
      content: '';
      display: block;
      height: 2px;
      width: 66.666%;
      background: #d6183a;
      position: absolute;
      bottom: 20px;
      left: 20px;
      opacity: .7; }
  @media only screen and (min-width: 960px) {
    .page {
      top: 0px;
      right: 0;
      bottom: 0;
      left: 0;
      height: 660px;
      max-height: 94vh; }
      .page__title {
        display: block; }
      .page__content {
        padding: 150px 20px 0;
        position: relative; }
      .page.splash {
        background-image: url("../assets/splash.svg"); }
      .page.mountains {
        background-image: url("../assets/mountains.svg"); }
      .page.swoop {
        background-image: url("../assets/swoop.svg"); } }

.ProjectItem {
  border-bottom: 1px solid #272B31;
  color: #dadee4;
  padding: 6.5rem 0; }
  .ProjectItem__title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px; }
  .ProjectItem__title {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    line-height: 1;
    font-size: 2.7rem; }
  .ProjectItem__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    border-radius: 100%; }
  .ProjectItem__icon {
    box-sizing: content-box;
    font-size: 30px;
    display: inline-block;
    color: #9182c9; }
  .ProjectItem__description, .ProjectItem__task {
    color: #bbc0c6;
    max-width: 600px;
    font-weight: 400;
    letter-spacing: .6px; }
  .ProjectItem__description {
    margin-bottom: 35px; }
    .ProjectItem__description p {
      margin-bottom: 25px; }
  .ProjectItem__tasks {
    margin-bottom: 40px;
    margin-top: 20px; }
  .ProjectItem__tasks-title {
    color: #808894;
    font-family: 'Heebo',sans-serif; }
    .ProjectItem__tasks-title svg {
      margin-right: 15px; }
  .ProjectItem__task {
    margin-bottom: 25px;
    margin-left: 40px;
    list-style: disc; }
  .ProjectItem__description a, .ProjectItem__task a {
    font-weight: 400;
    color: #9182c9;
    transition: all .3s;
    padding: 2px 4px 3px; }
    .ProjectItem__description a:hover, .ProjectItem__description a:focus, .ProjectItem__task a:hover, .ProjectItem__task a:focus {
      color: #dce2e9;
      background: #54448e;
      box-shadow: 0 3px 20px -8px rgba(0, 0, 0, 0.3); }
  .ProjectItem__demo, .ProjectItem__code {
    padding: 10px 25px;
    border: 2px solid transparent;
    color: #dce2e9;
    border-radius: 3px;
    font-size: 16px;
    box-shadow: 0 3px 20px -5px rgba(0, 0, 0, 0.3);
    transition: all .3s; }
    .ProjectItem__demo:hover, .ProjectItem__demo:focus, .ProjectItem__code:hover, .ProjectItem__code:focus {
      box-shadow: 0 3px 25px 0px rgba(0, 0, 0, 0.4); }
  .ProjectItem__demo {
    margin-right: 10px;
    background: #54448e;
    background: #4b3d7a; }
    .ProjectItem__demo:hover, .ProjectItem__demo:focus {
      background: #6a57ae; }
  .ProjectItem__code {
    background: #373b41; }
    .ProjectItem__code:hover, .ProjectItem__code:focus {
      background: #4e545d; }
  .ProjectItem__tech-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px; }
  .ProjectItem__tech {
    color: #808894;
    margin-right: 10px; }
  @media only screen and (min-width: 600px) {
    .ProjectItem {
      padding: 6.5rem 10px; } }
  @media only screen and (min-width: 960px) {
    .ProjectItem {
      padding: 6.5rem 20px; } }

.Projects__list-item:nth-child(1) > div {
  padding-top: 0px; }

.Projects__list-item:last-child div {
  border-bottom: none; }

.Sidebar {
  background: #272B31;
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(to right top, #aa3c84, #e74c3c);
  border-image-slice: 1; }
  .Sidebar__profile {
    text-align: center;
    display: flex;
    align-items: center; }
  .Sidebar__text {
    text-align: left;
    margin-left: 20px; }
  .Sidebar__mobile-title {
    color: #dce2e9;
    font-family: 'Heebo', sans-serif;
    font-size: 2.7rem; }
  .Sidebar__pfp {
    border-radius: 100%;
    height: 95px;
    width: 95px;
    background: #373b41;
    border: 3px solid rgba(145, 130, 201, 0.6);
    box-shadow: 0px 4px 30px -4px rgba(0, 0, 0, 0.6); }
  .Sidebar__status-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: left; }
  .Sidebar__status-dot {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background: #519e90;
    position: relative;
    top: 3px; }
  .Sidebar__status {
    color: #808894;
    font-size: 1.5rem;
    font-style: italic;
    position: relative;
    margin-left: 5px;
    line-height: 1; }
  .Sidebar__social-icons {
    display: flex;
    justify-content: center; }
    .Sidebar__social-icons a {
      display: block;
      margin: 20px 20px 5px; }
    .Sidebar__social-icons svg {
      font-size: 24px;
      color: rgba(198, 90, 107, 0.75);
      display: block;
      transition: all .3s; }
      .Sidebar__social-icons svg:hover, .Sidebar__social-icons svg:focus {
        color: #d6183a;
        transform: scale(1.2); }
  .Sidebar__legal {
    display: none;
    padding: 5px;
    text-align: center;
    background: #373b41;
    font-size: 14px;
    color: #707680; }
  @media only screen and (min-width: 960px) {
    .Sidebar {
      min-width: 260px;
      flex-direction: column;
      padding: 0;
      border-bottom: none; }
      .Sidebar__profile {
        display: block;
        margin-top: 20px; }
      .Sidebar__pfp {
        height: 136px;
        width: 136px; }
      .Sidebar__mobile-title {
        display: none; }
      .Sidebar__legal {
        display: block; }
      .Sidebar__social-icons {
        justify-content: center; }
        .Sidebar__social-icons a {
          margin: 10px 15px 5px; }
      .Sidebar__status-wrapper {
        padding: 0 10px;
        margin: 10px 0; }
      .Sidebar__text {
        margin-left: 0px; } }

.SidebarNav {
  display: flex;
  font-family: 'Dosis', sans-serif;
  background: #272B31;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  justify-content: space-around;
  padding: 7px 0; }
  .SidebarNav a {
    flex: 1;
    color: #bbc0c6;
    text-decoration: none;
    transition: all .3s;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-right: 1px solid #3e444d;
    padding-top: 5px;
    color: #686e78; }
    .SidebarNav a:last-of-type {
      border-right: none; }
    .SidebarNav a svg {
      color: #686e78;
      transition: all .3s;
      font-size: 2.7rem;
      margin-bottom: 5px; }
    .SidebarNav a.active-page {
      color: #dce2e9; }
    .SidebarNav a.active-page svg {
      color: #9182c9; }
  .SidebarNav__icon-wrapper {
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0; }
  @media only screen and (min-width: 960px) {
    .SidebarNav {
      flex-direction: column;
      margin: -40px 20px 0;
      text-align: left;
      position: relative;
      background: none;
      bottom: auto;
      left: auto;
      right: auto;
      padding: 0; }
      .SidebarNav a {
        flex-direction: row;
        text-align: left;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 3px;
        border-right: none;
        color: #bbc0c6; }
        .SidebarNav a svg {
          font-size: 1.7rem;
          margin-bottom: 0; }
        .SidebarNav a.active-page svg {
          transform: scale(1.25); }
        .SidebarNav a:hover {
          background: #373b41;
          box-shadow: 0px 4px 30px -8px rgba(0, 0, 0, 0.3); }
      .SidebarNav__icon-wrapper {
        margin: 0 12px 0 16px; } }
