.link {
  font-weight: 400;
  color: $color-purple-l;
  transition: all .3s;
  padding: 2px 4px 3px;
  &:hover, &:focus {
    color: $color-text-primary;
    background: $color-purple-m;
    box-shadow: 0 3px 20px -8px rgba(0,0,0,0.3);
  }
}
