// media queries
@mixin whenLarge() {
  @media only screen and (min-width: 960px) {
    @content;
  }
}
@mixin whenMedium() {
  @media only screen and (min-width: 600px) {
    @content;
  }
}

// colors
$color-gray-l: #373b41;
$color-gray-m: #272b31;
$color-gray-d: #1c2025;

$color-pink-l: #f26c74;
$color-pink-m: #de4e57;
// $color-purple-l: rgb(145, 130, 201);
$color-purple-l: #ad8ed0;
// $color-purple-m: rgb(75, 61, 122);
$color-purple-m: #674a88;
$color-purple-d: #2a2134;

$color-text-primary: #dce2e9;
$color-text-body: #bbc0c6;
$color-text-tertiary: #808894;

$font-header: 2.7rem;
$font-header-sm: 2.3rem;
